@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color: #f15a25;
    --secondary-color: #d2ceb2;
    --instrument-background-color: #333333;
    --instrument-secondary-color: #cccccc;
}

html,
body {
    padding: 0;
    margin: 0;
}

.full-screen {
    height: 100vh;
    width: 100vw;
}

.background-theme {
    background-color: var(--theme-color);
}

.background-secondary {
    background-color: var(--secondary-color);
}

.background-instrument {
    background-color: var(--instrument-background-color);
}

.background-instrument-secondary {
    background-color: var(--instrument-secondary-color);
}

.button-theme {
    background-color: var(--theme-color);
}

.btn-active:active {
    opacity: 0.5;
}

.border-theme {
    border-top: 3px solid var(--theme-color);
}

.text-theme {
    color: var(--theme-color);
}