@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color: #f15a25;
    --instrument-background-color: #333333;
    --instrument-secondary-color: #cccccc;
}

html,
body {
    padding: 0;
    margin: 0;
}

.full-screen {
    height: 100vh;
    width: 100vw;
}

.background-theme {
    background-color: var(--theme-color);
}

.background-instrument {
    background-color: var(--instrument-background-color);
}

.background-instrument-secondary {
    background-color: var(--instrument-secondary-color);
}

.button-theme {
    background-color: var(--theme-color);;
}